{% extends 'base.html.twig' %}



{% block body %}

    <div class="container">
        <section class="section register " style="padding: 0px">
            {% for message  in app.flashes('message') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
        </section>

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4" style="padding: 0px">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">



                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Reset le mot de passe</h5>
                                </div>


                                {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}

                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">Votre Email</label>
                                    <br>
                                    {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}<br>
                                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Send</button>
                                </div>

                                {{ form_end(form) }}

                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </section>

    </div>

{% endblock %}