<form method="post" action="{{ path('app_formateur_delete', {'idFormateur': formateur.idFormateur}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formateur.idFormateur) }}">
    <button class="btn">Delete</button>
</form>