{% extends 'RRH.html.twig' %}

{% block title %}New Formateur{% endblock %}

{% block body %}
    <h1>Create new Formateur</h1>

    {{ include('formateur/_form.html.twig') }}

    <a href="{{ path('app_formateur_index') }}">back to list</a>
{% endblock %}